[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

websockets = "*"
mouse = "*"
keyboard = "*"
pywindow = "*"


[dev-packages]

requests = "*"
pyinstaller = "*"
