aiohttp==2.2.3
async-timeout==1.2.1
certifi==2017.4.17
chardet==3.0.4
cx-Freeze==5.0.1
future==0.16.0
idna==2.5
multidict==3.1.0
PyInstaller==3.3.dev0+c7a24e5
pypiwin32==220
requests==2.18.1
six==1.10.0
urllib3==1.21.1
yarl==0.11.0
