html, body {
    margin: 0;
    height: 100%;
}

.tree {
    width: 250px;
    height: 100%;
}

.fill-parent {
    height: 100%;
    width: 100%;
}

.vbox {
    display: flex;
    flex-grow: 1;
}

.hbox {
    display: flex;
    flex-grow: 1;
}

#command-module-tree {
    background-color: rgb(243, 243, 243);
}

#editor-panel {

}

.editor-input {
    margin: 10px;
}