html, body {
    margin: 0;
    height: 100%;
}

.tree {
    width: 250px;
    height: 100%;
}

.fill-parent {
    height: 100%;
    width: 100%;
}

.vbox {
    display: flex;
    flex-grow: 1;
}

.hbox {
    display: flex;
    flex-grow: 1;
}

#command-module-tree {
    background-color: rgb(243, 243, 243);
}

#editor-panel {
    background-color: rgb(253, 246, 227);
    flex-grow: 1;
}

#editor-panel .nav-item .nav-link:not(.active) {
    border-color: transparent transparent #ddd transparent ;
}

#editor-panel .nav-item .nav-link {
    background-color: rgb(253, 246, 227);
}

.editor-input {
    margin: 10px;
}