#cm-container {
    display: flex;
}

.command-preview {
    display: flex;
    flex-direction: row;
}

.rule-input {
    width: 50%;
    /* flex-grow: 1;
    flex-shrink: 0; */
}

#command-module-contents {
    flex-grow: 1;
}

#command-module-panel {
    /* flex-grow: 1; */
}